body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.carousel-container-c {
    overflow: hidden;
    position: relative;
}

.carousel-wrapper-c {
    display: flex;
    position: relative;
}

.carousel-c {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

img {
    width: 50%; /* Adjust to control the size of each image */
    height: auto;
}

.prev-c,
.next-c {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-c {
    left: 10;
}

.next-c {
    right: 10;
}